 <style>
   .body {
    font-family: 'Comforter', cursive;
    font-family: 'PT Serif', serif; }
    .bg-dar {
    background-color: rgba(82, 79, 79, 0.357);}
 </style>
 
 <div class="bg-dar py-1 fixed-top shadow">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand text-warning body" href="{% url 'index' %}">
        <strong>
          ASD
        </strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-warning" data-toggle="dropdown" href="#" role="button" aria-haspopup="" aria-expanded="">
                  Erkek
              </a>
              <div class="dropdown-menu" x-placement="bottom-start" >
                {% for item in category1 %}
                  {% if item.gender == "man" or item.gender == "unisex" %}
                  <a class="dropdown-item" href="{% url 'category_show' category_slug=item.slug %}">
                    {{ item.title }}
                  </a>
                  {% endif %}
                {% endfor %}
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-warning" data-toggle="dropdown" href="#" role="button" aria-haspopup="" aria-expanded="">
                  Kadın
              </a>
              <div class="dropdown-menu " x-placement="bottom-start" >
                {% for item in category1 %}
                  {% if item.gender == "women" or item.gender == "unisex" %}
                  <a class="dropdown-item text-warning" href="{% url 'category_show' category_slug=item.slug %}">{{ item.title }}</a>
                  {% endif %}
                {% endfor %} 
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-warning" data-toggle="dropdown" href="#" role="button" aria-haspopup="" aria-expanded="">
                  Her Zaman
              </a>
              <div class="dropdown-menu " x-placement="bottom-start" >
                {% for item in category1 %}
                  {% if item.gender == "women" or item.gender == "unisex" %}
                  <a class="dropdown-item text-warning" href="{% url 'category_show' category_slug=item.slug %}">{{ item.title }}</a>
                  {% endif %}
                {% endfor %}    
              </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
          <li>
            <a href="{% url 'sepet' %}" class="mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-fill text-warning" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="{% url 'login' %}" >
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill text-warning" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      {% for item in category1 %}
      <h5>
        {{ item.title }}
      </h5>
    {% endfor %}
    </div>
  </div>

</div>